.bordered-card {
  border-style: outset;
  border-width: 1px;
  border-color: $darkRed;
  background-color: $darkGrey !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.bordered-card--home-card {
  background-image: url('/images/nigo_background_h.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  color: $lightGrey !important;
  text-align: center;
}

.home-card-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card-content__text {
  font-size: 1.8rem;
}

.news-card__title {
  color: $lightRed;
}

.news-card__text {
  color: white;
}

.contact-card {
  background-color: transparent !important;
  box-shadow: none !important;
}

@media (min-width: $desktop-breakpoint) {
  .home-card-content__text {
    font-size: 2.3rem;
  }
}