.contact-form__input {
  padding-top: 1em;
}

.text-field {
  border-radius: 4px;
  background-color: $darkGrey;
}

.MuiFormLabel-root.Mui-focused {
  color: $pink !important;
}

.MuiOutlinedInput-notchedOutline {
 border-color: $grey !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $pink !important;
}