#footer {
  background-image: url('/images/nigo_background_h.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  height: 8.6em;
  margin-top: -8.6em;
  clear: both;
}

.footer__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: $darkRedTwo;
}

.footer__subtitle {
  color: $orange;
  margin-top: 0;
  margin-bottom: 1em !important;
  margin-bottom: 1.5em;
  font-size: 1.2rem;
}

// only desktop
@media (min-width: $desktop-breakpoint) {
  .footer__title {
    font-size: 4.5rem;
  }
  .footer__subtitle {
    margin-bottom: 1.5em;
    font-size: 1.5rem;
  }
  .main-container {
    padding-bottom: 12.4em;
  }
  #footer {
    height: 12.4em;
    margin-top: -12.4em;
  }
}