.header {
  background-color: $dark;
}

.MuiDrawer-paper {
  background-image: url('/images/nigo_background_v.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.MuiList-root {
  color: white;
}

.header-image {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url('/images/nigo_background_h.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header-image-logo {
  height: 3em;
}

.header-menu {
  padding: $s-size;
}

.header-menu-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $dark;
}

.header-menu__item {
  color: white;
  text-decoration: none;
}

.is-active {
  color: $orange;
  font-weight: bold;
}

@media (min-width: $desktop-breakpoint) {
  .header-image {
    padding: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  .header-image-logo {
    height: 4.5em;
  }
  .header-image-banner {
    background-image: url('/images/nigo_banner.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}