.home-header {
  height: 250px;
  background-image: url('/images/pictures/nigo_local_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  -webkit-animation: fadeinBack 2s ; /* Chrome, Safari, Opera */
  animation: fadeinBack 2s ;
}

@-webkit-keyframes fadeinBack {
  from {opacity: 0.2;}
  to {opacity: 1;}
}
@keyframes fadeinBack {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

.home-header-content {
  height: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__paper {
  font-size: 1.7rem;
  padding: 0.5em !important;
  color: white !important;
  box-shadow: 0px 3px 3px -2px $pink, 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12) !important;
}

.content__paper--parallax {
  background-color: $darkTransp !important;
  box-shadow: none !important;
}

.content__paper--normal {
  background-color: transparent !important;
}

.home-content__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item__image {
  width: 90%;
}

.home-compet {
  margin-top: 1.5em;
}

@media (min-width: $desktop-breakpoint) {
  .content__paper--parallax {
    background-color: $darkTransp !important;
    box-shadow: none !important;
    margin-left: 3em;
    margin-right: 3em;
    width: 45%;
    &>h4{
      font-size: 4.2rem;
      text-align: right;
    }
  }
  .home-header {
    height: 790px;
  }
  .home-header-content {
    justify-content: center;
    align-items: flex-end;
  }
  .content__paper-text {
    font-size: 2.5rem;
  }
  .grid-item__image {
    width: 80%;
  }
  .grid-item__image--big {
    width: 60%;
  }
}