@font-face {
  font-family: 'Bungee';
  src: local('Bungee'), url(../../fonts/Bungee-Regular-webfont.woff) format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  src: local('Lato-Bold'), url(../../fonts/Lato-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(../../fonts/montserrat-medium-webfont.woff) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(../../fonts/montserrat-bold-webfont.woff) format('truetype');
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $grey;
}

::-webkit-scrollbar-thumb {
  background-color: $pink;
}

html {
  // 1rem = 16px --- 16 * .625 = 10 --- managing rem on a 10 based scale eg: 2.2rem = 22px
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
  font-size: $s-size;
}

p {
  font-family: 'Montserrat-Medium';
}

h1 {
  font-size: $m-size;
  font-family: 'Lato-Bold';
  color: $orange;
}

h2 {
  font-size: $s-size;
  font-family: 'Lato-Bold';
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  margin-bottom: 0;
  margin-top: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#root {
  min-height: 100%;
}

.main-container {
  overflow: auto;
  padding-bottom: 8.2em;
}

.body-container {
  margin-bottom: 2em;
}

.span__subtitle {
  font-family: 'Montserrat-Medium';
  color: $orange;
  font-size: 1.1rem;
}