// COLORS
$nigoLightBlue: #3FC2EC;
$nigoLightRed: #D8130D;
$nigoDarkRed: #B00000;

$lightRed: #EE3124;
$lightRedTwo: #F22727;
$darkRed: #AC281F;
$darkRedTwo: #D63031;
$pink: #CF514A;
$lightGrey: #DAE0E2;
$grey: #5C5C5C;
$darkGrey: #333333;
$dark: #222222;
$lightPurple: #9079CB;
$darkPurple: #8B58DC;
$lightBlue: #43B4DE;
$lightBlueTwo: #4C90CF;
$orange: #F28322;
$teal: #5EBECC;
$darkTransp: #22222260;

// DIMENTIONS
$s-size: 1.8rem;
$m-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;